@model IEnumerable<OnlineAuctionApplication.ViewModels.AuctionVM>

@{
    ViewData["Title"] = "All Auctions";
}

<h1>Ongoing auctions</h1>

<p>
    <a asp-controller="User" asp-action="CreateAuction">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Starting Price (SEK)
            </th>
            <th>
                End Time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingPrice) SEK
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.ActionLink("Bids", "ListBids", "Bids", new { auctionId=item.Id }, null)
            </td>
        </tr>
}
    </tbody>
</table>
