@model IEnumerable<OnlineAuctionApplication.ViewModels.AuctionVM>

@{
    ViewData["Title"] = "Auctions With Bids";
}

<h1>Ongoing Auctions I have Bid On</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Starting Price (SEK)
            </th>
            <th>
                Highest Bid (SEK)
            </th>
            <th>
                End Time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HighestBid.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.ActionLink("Bids", "ListBids", "Bids", new { auctionId = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
