@model IEnumerable<OnlineAuctionApplication.ViewModels.AuctionVM>

@{
    ViewData["Title"] = "Own Auctions";
}

<h1>Own Auctions</h1>

<p>
    <a asp-controller="User" asp-action="CreateAuction">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartingPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.ActionLink("Bids", "ListBids", new { auctionId=item.Id }) |
                @Html.ActionLink("Edit", "EditAuction", new { auctionId = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
