@model IEnumerable<OnlineAuctionApplication.ViewModels.AuctionVM>

@{
    ViewData["Title"] = "Won Auctions";
}

<h1>Won Auctions</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Starting Price (SEK)
            </th>
            <th>
                Ended
            </th>
            <th>
                Purchased For (SEK)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HighestAmount)
            </td>
        </tr>
}
    </tbody>
</table>
